<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
        <%- include('./functions/getDateString.ejs') %>
        <script>let viewingUser = JSON.parse('<%-JSON.stringify(viewingUser)%>')</script>

        <dialog class="avatar-modal">
            <div class="avatar-modal-contents">
                <img class="avatar avatar-preview">
            </div>
            <div class="modal-button-container">
                <button id="cancel" class="user-button">Cancel</button>
                <button id="save" class="user-button">Save</button>
            </div>
        </dialog>

        <div class="user-container">
            <div>
                <img class="avatar profile-avatar" src="/api/uploads/avatar/<%=viewingUser.user_id%>" onerror="this.onerror = null; this.src = '/api/uploads/default.png';">
                <% if (viewingUser.username === user.username) { %>
                <form action="/users/<%=viewingUser.username%>/avatar" enctype="multipart/form-data" method="post" id="avatar-form">
                    <label for="avatar" class="avatar-change">Change</label>
                    <input class="hidden" type="file" name="avatar" id="avatar" accept="image/*">
                </form>
            <% } %>
            </div>
            <div>
                <div class="user-username-box">
                    <span class="user-username">@<%=viewingUser.username%></span>
                    <% if (viewingUser.admin_privileges) { %>
                        <span class="admin-square" title="Admin"></span>
                    <% } %>
                </div>

                <div class="user-info user-joined">Joined <%=getDateString(viewingUser.date_created)%></div>

                <% if (viewingUser.username === user.username) { %>
                    <input type="text" autocomplete="off" class="user-bio" maxlength="100" value="<%=viewingUser.bio%>"></input>
                <% } else { %>
                    <% if (viewingUser.bio) { %>
                        <div class="user-info"><%=viewingUser.bio%></div>
                    <% } %>
                <% } %>
            </div>
            <div class="user-page-right">
                <% if (viewingUser.user_id !== user.userId && user.userId) { %>
                    <button class="follow-button">Follow</button>
                <% } %>
                <a href="/users/<%=viewingUser.username%>/followers" class="followers-link unstyled-link">
                    <span class='followers-stat'><%=viewingUser.followers%></span>
                    <span> followers</span>
                </a>
                <a href="/users/<%=viewingUser.username%>/following" class="followers-link unstyled-link">
                    <span class='following-stat'><%=viewingUser.following%></span>
                    <span> following</span>
                </a>
            </div>
        </div>
        <h1 class="user-posts-header">@<%=viewingUser.username%>'s posts:</h1>

        <%- include('./partials/page-nav.ejs', {url: `/users/${viewingUser.username}`})%>

        <% if (viewingUser.username === user.username) { %>
            <div class="post send-box">
                <div class="post-user-input" contenteditable="true"></div>
                <button class="post-button">Send</button>
            </div>
        <% } %>

        <% posts.forEach(post => { %>
            <%- include('./partials/reusable-post.ejs', {post: post}) %>
        <% }) %>

        <%- include('./partials/page-nav.ejs', {url: `/users/${viewingUser.username}`})%>
        <br>

        <script src="/scripts/user.js" type="module"></script>
        <script src="/scripts/postInteractivity.js" type="module"></script>
        <script src="/scripts/postSend.js" type="module"></script>
    </body>
</html>